body {
    text-align: center;
    display: grid;
}
header {
    text-align: left;
}

.container {
    display: grid;
    
}

.movie-title {
    background-color: black;
    color: white;
}

p {
    font-size: large;
}